@media only screen and (min-width: 950px) {
    * {box-sizing:border-box}

    body::-webkit-scrollbar {
        display: none;
    }
    
    body{
        font-family: monospace;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* background-image: url("/img/henry-co-tqu0IOMaiU8-unsplash.jpg");  */
        background-color: white; /* Used if the image is unavailable */
    }

    a{
        color: #000000;
    }

    a:hover{
        color: royalblue;
    }
    
    #titlePage{
        text-align: center;
        font-size: 600%;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 400px;
    }
    
    #border{
        font-size: 250%; 
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 140px;
        text-align: center;
    }
    
    #introP{
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 20px;
        padding-right: 50px;
        font-size: 90%;
    }

    #subHeadings{
        font-size: 200%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #subSubHeadings{
        font-size: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .workIcons{
        width: 100%;
    }

    .projectHeaders{
        font-size:200%;
        padding-top:30px;
    }

    #descriptions{
        padding-left: 50px;
        padding-right: 50px;
        font-size: 50%;
    }
    
    #myPic{
        padding-bottom: 20px;
        margin: 0;
        padding: 0;
        width: 25%;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }
    
    #navBar{
        list-style:none;
        text-align:center;
        padding-bottom: 3px;
        padding-left: 0;
        font-size: 200%;
    }
    
    #navBar a{
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        color: black;
    }
    
    #navBar a:hover{
        text-decoration: underline;
    }

    .whitespace{
        padding-top: 300px;
    }

    .column {
        float:left;
        width: 25%;
        padding-top: 400px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 300px;
        text-align: center;
        /* margin-left: 50px; */
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 50%;
        position: relative;
        margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides1 {
        display: none;
        padding-top: 0px;
        /* padding-bottom: 10px; */
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }

    /* Hide the images by default */
    .mySlides2 {
        display: none;
        padding-top: 0px;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }

    img{
        border-radius: 9px;
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 50%;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        /* padding-bottom: 10px; */
    }

    video{
        width:100%;
        height: 100%;
        text-align: center;
        margin:auto;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }
    
    footer{
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7%;
        background-color: #BEBEBE;
        align-content: center;
        padding-top: 20px;
        font-size: 15px;
        border-top: black;
        border-top: 5px;
        border-top-style: solid;
        /* opacity: 0.6; */
    }
    
    footer a{
        text-decoration: none;
        color: black;
    }
    
    footer a:hover{
        text-decoration: underline;
        border: black;

    } 
}
@media only screen and (max-width: 950px) and (min-width: 603px) {
    * {box-sizing:border-box}

    body::-webkit-scrollbar {
        display: none;
    }
    
    body{
        font-family: monospace;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* background-image: url("/img/henry-co-tqu0IOMaiU8-unsplash.jpg");  */
        background-color: white; /* Used if the image is unavailable */
    }

    a{
        color: #000000;
    }

    a:hover{
        color: royalblue;
    }
    
    #titlePage{
        text-align: center;
        font-size: 200%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 400px;
    }
    
    #border{
        font-size: 250%; 
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
        text-align: center;
    }
    
    #introP{
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 20px;
        font-size: 35%;
    }

    #subHeadings{
        font-size: 75%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #subSubHeadings{
        font-size: 50%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .workIcons{
        width: 100px;
    }

    .projectHeaders{
        font-size: 100%;
        padding-top: 15px;
    }

    #descriptions{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 30%;
    }
    
    #myPic{
        padding-bottom: 20px;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }
    
    #navBar{
        list-style:none;
        text-align:center;
        padding-bottom: 3px;
        padding-left: 0;
        font-size: 100%;
    }
    
    #navBar a{
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        color: black;
    }
    
    #navBar a:hover{
        text-decoration: underline;
    }

    .column {
        float:left;
        width: 50%;
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 80px;
        text-align: center;
        /* margin-left: 50px; */
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides1 {
        display: none;
        padding-top: 0px;
        /* padding-bottom: 10px; */
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }

    /* Hide the images by default */
    .mySlides2 {
        display: none;
        padding-top: 0px;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }

    img{
        border-radius: 9px;
    }

    /* Caption text */
    .text {
        color: yellow;
        font-size: 35%;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        /* padding-bottom: 10px; */
    }

    video{
        width:100%;
        height: 100%;
        text-align: center;
        margin:auto;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }
    
    footer{
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6%;
        background-color: #BEBEBE;
        align-content: center;
        padding-top: 20px;
        font-size: 70%;
        border-top: black;
        border-top: 5px;
        border-top-style: solid;
        /* opacity: 0.6; */
    }
    
    footer a{
        text-decoration: none;
        color: black;
    }
    
    footer a:hover{
        text-decoration: underline;
        border: black;

    } 
}
 
@media only screen and (max-width: 603px) {
    * {box-sizing:border-box}

    body::-webkit-scrollbar {
        display: none;
    }
    
    body{
        font-family: monospace;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* background-image: url("/img/henry-co-tqu0IOMaiU8-unsplash.jpg");  */
        background-color: white; /* Used if the image is unavailable */
    }

    a{
        color: #000000;
    }

    a:hover{
        color: royalblue;
    }
    
    #titlePage{
        text-align: center;
        font-size: 150%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 400px;
    }
    
    #border{
        font-size: 250%; 
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
        text-align: center;
    }
    
    #introP{
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 20px;
        font-size: 35%;
    }

    #subHeadings{
        font-size: 75%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #subSubHeadings{
        font-size: 50%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .workIcons{
        width: 100px;
    }

    .projectHeaders{
        font-size: 100%;
        padding-top: 15px;
    }

    #descriptions{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 30%;
    }
    
    #myPic{
        padding-bottom: 20px;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }
    
    #navBar{
        list-style:none;
        text-align:center;
        padding-bottom: 3px;
        padding-left: 0;
        font-size: 100%;
    }
    
    #navBar a{
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        color: black;
    }
    
    #navBar a:hover{
        text-decoration: underline;
    }

    .column {
        float:left;
        width: 100%;
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 80px;
        text-align: center;
        /* margin-left: 50px; */
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides1 {
        display: none;
        padding-top: 0px;
        /* padding-bottom: 10px; */
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }

    /* Hide the images by default */
    .mySlides2 {
        display: none;
        padding-top: 0px;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }

    img{
        border-radius: 9px;
    }

    /* Caption text */
    .text {
        color: yellow;
        font-size: 35%;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        /* padding-bottom: 10px; */
    }

    video{
        width:100%;
        height: 100%;
        text-align: center;
        margin:auto;
        border: 5px;
        border-color: black;
        border-style: solid;
        border-radius: 15px;
    }
    
    footer{
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6%;
        background-color: #BEBEBE;
        align-content: center;
        padding-top: 20px;
        font-size: 70%;
        border-top: black;
        border-top: 5px;
        border-top-style: solid;
        /* opacity: 0.6; */
    }
    
    footer a{
        text-decoration: none;
        color: black;
    }
    
    footer a:hover{
        text-decoration: underline;
        border: black;

    } 
}
